---
import { Container } from "../../components";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Bio | Fabrizio Siqueira">
  <Container class="pb-16">
    <p
      class="text-5xl font-oswald uppercase text-neutral-800 leading-tight mb-4"
    >
      Hello! I’m Fabrizio, a software engineer from Buenos Aires, Argentina.
    </p>
    <article
      class="flex gap-8 mt-32 text-lg tracking-wide text-neutral-700 font-light"
    >
      <div class="flex-1">
        <p class="font-titillium">
          <span class="font-bold">With four years of experience</span> in the tech
          sector, I've had the opportunity to collaborate on a variety of projects,
          both as a freelancer and in corporate roles, utilizing a wide array of
          technologies. My passion for programming originated in my childhood, when
          I dreamed of developing video games. However, it wasn't until 2020 that
          I made the leap into the world of software development. My academic background
          in Electronic Arts, an artistic discipline closely linked to technology,
          provided me with a solid foundation in programming, and was the catalyst
          that drove me to deepen my knowledge in web development on my own.
        </p>
        <p class="font-titillium mt-4">
          I started by learning the basics: <span
            class="bg-neutral-800 text-white px-2 py-0.5"
            >HTML, CSS, and JavaScript</span
          >, applying them in personal projects and third-party assignments. I
          soon transitioned to a more formal environment, working for six months
          for a marketing company where I had the opportunity to use
          technologies such as <span
            class="bg-neutral-800 px-2 py-0.5 text-white"
            >WordPress and PHP</span
          >, while continuing to learn <span
            class="bg-neutral-800 text-white px-2 py-0.5">React and Node</span
          > in my free time.
        </p>
      </div>

      <p class="font-titillium flex-1">
        My goal was to work with these latter technologies, which led me to seek
        a new direction and enter a company dedicated to software development.
        In this new role, I was able to significantly advance my career,
        participating in a variety of projects including a sports trivia game, a
        metrics platform, multiple blogs and landing pages, as well as internal
        projects using Artificial Intelligence. These projects allowed me to
        work with a variety of technologies, including <span
          class="bg-neutral-800 text-white px-2 py-0.5"
          >React, MongoDB, Node, Next.js, Nest, Astro</span
        >, among others. Additionally, I had the opportunity to <span
          class="bg-neutral-800 text-white px-2 py-0.5"
          >collaborate with teams</span
        > of various sizes, from small groups of two or three people to larger teams
        of over fifteen members.
      </p>
    </article>
  </Container>
</Layout>
