---
import { Container } from "../../components";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Bio | Fabrizio Siqueira">
  <Container>
    <p
      class="text-5xl font-oswald uppercase text-neutral-800 leading-tight mb-4"
    >
      Hello! I’m Fabrizio, a software engineer from Buenos Aires, Argentina.
    </p>\
    <p class="text-5xl font-oswald uppercase text-neutral-800 leading-tight">
      My Poor Brain (MPB) is a selection of project curios from my lifetime… so
      far.
    </p>
  </Container>
</Layout>
