---
import Layout from "../layouts/Layout.astro";
import { Container, Button, Line } from "../components";
---

<Layout title="Fabrizio Siqueira">
  <main class="flex-1">
    <Line direction="vertical" class="top-0 right-[20%] h-dvh" />
    <Line direction="vertical" class="top-0 right-1/2 h-dvh" />
    <Container class="mt-32">
      <h1
        class="text-6xl font-oswald flex flex-col uppercase gap-2 text-neutral-800"
      >
        <span class="font-semibold">Software</span>
        <span>Engineer</span>
      </h1>
      <p
        class="text-2xl font-titillium font-light gap-2 text-neutral-800 mt-8 max-w-sm"
      >
        <span class="bg-neutral-800 text-white font-medium px-1"
          >Web and Native developer</span
        > building high-end, scalable and performant solutions.
      </p>
      <Button href="/bio" class="mt-4" variant="primary">View Bio</Button>
    </Container>
  </main></Layout
>
