---
import Listitem from "./Listitem.astro";
---

<header
  class="py-6 md:py-16 overflow-hidden md:overflow-auto flex gap-6 md:gap-12
  2xl:max-w-screen-lg 2xl:mx-auto w-full z-10"
>
  <h1
    class="text-bold text-2xl md:text-4xl max-w-[150px] mr-8 font-titillium font-light"
  >
    Fabrizio
    <span class="font-bold bg-neutral-800 text-white px-2 ml-4">Siqueira</span>
  </h1>

  <div>
    <ul>
      <Listitem href="/">Home</Listitem>
    </ul>
    <ul>
      <Listitem href="/bio">Bio</Listitem>
      <Listitem href="/experience">Experience</Listitem>
    </ul>
  </div>
</header>
