---
import { Home } from "../assets";
import Listitem from "./Listitem.astro";
---

<header class="py-16 flex gap-12 2xl:max-w-screen-lg 2xl:mx-auto w-full">
  <h1 class="text-bold text-4xl max-w-[150px] mr-8 font-titillium font-light">
    Fabrizio <span class="font-bold bg-neutral-800 text-white px-2 ml-4"
      >Siqueira</span
    >
  </h1>
  <ul>
    <Listitem href="/" class="min-w-[90px]"><Home /> Home</Listitem>
  </ul>
  <ul>
    <Listitem href="/bio">Bio</Listitem>
    <Listitem href="/experience">Experience</Listitem>
    <Listitem href="/contact">Contact</Listitem>
  </ul>
</header>
