---
import Listitem from "./Listitem.astro";
---

<header class="py-16 flex gap-12">
  <h1 class="text-bold text-4xl max-w-[150px] mr-8">Fabrizio Siqueira</h1>
  <ul>
    <Listitem href="/bio">Bio</Listitem>
    <Listitem href="/experience">Experience</Listitem>
    <Listitem href="/contact">Contact</Listitem>
  </ul>
</header>

<style>
  h1 {
    font-family: Edu VIC WA NT Beginner;
  }
</style>
