---
interface Props {
  href: string;
}
const { href } = Astro.props;

const { pathname } = Astro.url;
---

<li class="flex gap-2 items-center group">
  <a
    class:list={[
      "text-lg hover:text-gray-900",
      {
        "text-gray-950 font-bold": pathname === href,
        "text-gray-600 font-semibold": pathname !== href,
      },
    ]}
    href={href}
  >
    <slot />
  </a>
  <div
    class:list={[
      "bg-gray-700 rounded-full group-hover:w-2 group-hover:h-2 transition-all ease-in-out duration-300",
      {
        "w-2 h-2": pathname === href,
        "w-0 h-0": pathname !== href,
      },
    ]}
  >
  </div>
</li>
