---
import { ViewTransitions } from "astro:transitions";
import { Header, Sidebar } from "../components";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body class="bg-white min-h-lvh flex 100vh w-full">
    <Sidebar />
    <div class="px-16 flex flex-col 100vh flex-1">
      <Header />
      <slot />
    </div>
  </body>
</html>
<style is:global>
  @font-face {
    font-family: "Oswald";
    src: url("/fonts/Oswald-ExtraLight.ttf");
    font-weight: 200;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Oswald";
    src: url("/fonts/Oswald-Light.ttf");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Oswald";
    src: url("/fonts/Oswald-Regular.ttf");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Oswald";
    src: url("/fonts/Oswald-Medium.ttf");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Oswald";
    src: url("/fonts/Oswald-SemiBold.ttf");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Oswald";
    src: url("/fonts/Oswald-Bold.ttf");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }

  :root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
  }
  html {
    font-family:
      Titillium Web,
      system-ui,
      sans-serif;
    background: #ffffff;
  }
  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
</style>
