---
import { ViewTransitions } from "astro:transitions";
import { Header, Sidebar } from "../components";
import "../styles/main.css";

interface Props {
  title: string;
  class?: string;
}

const { title, class: className } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="I'm Fabrizio Siqueira, a Software Engineer from Buenos Aires, and this is my website!"
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/avatar.png" />
    <link
      rel="preload"
      href="/fonts/Oswald-ExtraLight.ttf"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/Oswald-Light.ttf"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/Oswald-Bold.ttf"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/Oswald-Medium.ttf"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/Oswald-Regular.ttf"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/Oswald-SemiBold.ttf"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body
    class="bg-neutral-100 min-h-lvh flex flex-col-reverse md:flex-row 100vh w-full"
  >
    <Sidebar />
    <div
      class:list={[
        "px-6 lg:px-16 flex flex-col 100vh flex-1 overflow-x-hidden text-center md:text-left",
        className,
      ]}
    >
      <Header />
      <slot />
    </div>
  </body>
</html>
<style is:global>
  html {
    font-family:
      Titillium Web,
      system-ui,
      sans-serif;
    background: #ffffff;
  }
  body {
    overflow-y: overlay;
  }
  x code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
</style>
